@font-face {
  font-family: "Roboto Regular";
  src: url("/../portfolio/public/assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("/../portfolio/public/assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Thin";
  src: url("/../portfolio/public/assets/fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto Italic";
  src: url("/../portfolio/public/assets/fonts/Roboto-Italic.ttf");
}